@font-face {
    font-family: 'mouse-300';
    src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype"); }
  @font-face {
    font-family: 'mouse-500';
    src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype"); }
* {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  
  img {
    max-width: 100%; }
  
  a {
    text-decoration: none;
    outline: none;
    color: #444; }
  
  a:hover {
    color: rgb(37, 150, 125); }
  
  ul {
    margin-bottom: 0;
    padding-left: 0; }
   ul li.login-link{
     display: none;
   } 
  
  a:hover,
  a:focus,
  input {
    text-decoration: none;
    outline: none; }
  
  .center {
    text-align: center; } 
  
  html, body {
    height: 100%; }
  
  p {
    margin-bottom: 0px;
    width: 100%; }
  
  .no-padding {
    padding: 0px; }
  
  .no-margin {
    margin: 0px; }
  
  .container-fluid {
    padding: 0px; }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "mouse-500", Arial, Helvetica, sans-serif; }
  
  body {
    background-color: #f7f7ff !important;
    font-family: "mouse-300", Arial, Helvetica, sans-serif;
    color: #6A6A6A; }
  .inner-title {
    padding: 20px;
    padding-left: 0px;
    margin-bottom: 30px; }
    .inner-title h2 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-family: "slab", Arial, Helvetica, sans-serif; }
    .inner-title p {
      width: 100%;
      text-align: center; }
  .btn-success {
    background-color: #00ab9f;
    border-color: #00ab9f; }
    .btn-success:hover {
      background-color: #00ab9f !important;
      border-color: #00ab9f !important; }
    .btn-success:active {
      background-color: #00ab9f !important;
      border-color: #00ab9f !important; }
    .btn-success:focus {
      background-color: #00ab9f !important;
      border-color: #00ab9f !important;
      box-shadow: none !important; }
  
  .btn {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px; }
    @media screen and (max-width: 1199px) {
        .container {
          max-width: 100%; } }
      .collapse.show {
        display: block !important; }
      #nav-head {
        position: relative;
        width: 100%;
        z-index: 999;  }
        .header-nav {
          background-color: #FFF;
          width: 100%; }
    .header-nav .nav-item ul li {
            float: left;
            font-family: "mouse-500", Arial, Helvetica, sans-serif;
            font-size: 16px;
            padding: 28px; }
            @media screen and (max-width: 998px) {
               .header-nav .nav-item ul li {
                padding: 30px 18px; } }
            @media screen and (max-width: 767px) {
              .header-nav .nav-item ul li {
                float: none;
                padding: 14px;
                border-top: 1px solid #CCC; }
              ul li.login-link{
                display: block;
              } }
          .header-nav .nav-img img {
            width: 200px;
            padding: 0px;
            margin-top: 21px; }
            @media screen and (max-width: 767px) {
             .header-nav .nav-img img {
                margin-top: 0px;
                padding: 10px; } }
          .header-nav .appoint {
            padding-top: 21px; }
      
      .small-menu {
        float: right;
        color: #1ac2f9;
        font-size: 32px;
        margin-top: 17px;
        margin-right: 12px; }
        @media screen and (max-width: 767px) {
          .small-menu {
            margin-top: 11px; } }
      .slider {
        width: 100%;
        overflow: hidden;
        height: 575px; }
        @media screen and (max-width: 922px) {
          .slider {
            height: 400px; } }
        .slider .lis img{
          width: 100%;
          overflow: hidden;
          height: 575px;
          background-size: 100%;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-position: right top;
          position: absolute;
        }
          .slider .lis>img, .slider-layer {
            background:#00ab9f;
            opacity: 0.6;
            width: 100%;
            height: 675px;
            position: absolute;
            left: 0;
            top: 0;
            color: #FFFFFF;
            padding-top: 80px; }
            @media screen and (max-width: 922px) {
              .slider .lis .slider-layer {
                padding-top: 30px; } }
            .slider .lis .slider-layer h1 {
              font-size: 64px;
              text-align: center;
              margin-top: 30px;
              font-family: 'alegreya_bold_italic', serif;
              transition: width 2s, height 4s; }
            .slider .lis .slider-layer p {
              text-align: center;
              font-size: 26px;
              font-family: 'alegreya_bold_italic', serif; }
        @media screen and (max-width: 1199px) {
          .slider .lis {
            height: 600px; }
            .slider .lis .slider-layer {
              height: 600px; } }
        @media screen and (max-width: 1105px) {
          .slider .lis {
            height: 500px; }
            .slider .lis h1 {
              font-size: 44px !important; }
            .slider .lis p {
              font-size: 22px !important; }
          .slider .slider-layer {
            padding-top: 30px !important;
            height: 500px; } }
        @media screen and (max-width: 922px) {
          .slider .lis {
            background-position: center;
            background-size: cover;
            height: 400px; } }
        @media screen and (max-width: 580px) {
          .slider .lis h1 {
            font-size: 34px !important; }
          .slider .lis p {
            font-size: 20px !important; }
         }
        @media screen and (max-width: 400px) {
          .slider .lis h1 {
            font-size: 24px !important; }
          .slider .lis p {
            font-size: 18px !important; } }
